<!DOCTYPE html>
<html>
<head>
  <title>MyTripMap1</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <!-- https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js -->
  <!-- <%= javascript_include_tag 'application', 'jquery-rails' => true %>
  <%= javascript_include_tag 'application', 'angularjs-rails' => true %>
  <%= javascript_include_tag 'application', 'lodash' => true %>
  <%= javascript_include_tag 'application', 'bluebird' => true %>
  <%= javascript_include_tag 'application', 'angular-google-maps' => true %> -->
    <%= csrf_meta_tags %>
</head>
<body>
	ohoy
	 <p class="notice"><%= notice %></p>
     <p class="alert"><%= alert %></p>

<%= yield %>

</body>
</html>
